<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat - Home</title>
</head>
<body>
<h1>Chat - Home</h1>
<div th:if="${#lists.isEmpty(chats)}">
    <p>No chats available.</p>
</div>
<div class="scroll-view" th:each="chat : ${chats}">
    <div th:id="${chat.chatId}">
        <span th:text="${chat.name}">NAME</span>
        <span th:text="${chat.lastMessage}">LAST_MESSAGE</span>
        <span th:text="${chat.lastMessageSentAt}">SENT_DATE</span>
        <a th:href="@{|/services/chat/group/${chat.chatId}|}">OPEN</a>
        <button onclick="alert('DELETED')">DELETE</button>
        <hr/>
    </div>
</div>
<form method="post" th:action="@{/api/chat/add_chat}">
    <input type="text" id="chat-username-input" name="username" placeholder="Enter username..."/>
    <input type="submit" value="Add chat"/>
</form>
</body>
</html>