@import "../functions/math_functions";
@import "../functions/extenstion_functions";
@import "../functions/font";
@import "../variables";

$header-bg-color: #3A3A3A;
$header-shadow: 0 0 px2Rem(13.5px) px2Rem(-5px) rgba(black, .05);
$account-bg-color: #515151;

.header-container {
  width: 100%;
  padding: px2Rem(20px);
  background-color: $header-bg-color;
  font-size: px2Rem(16px);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $header-shadow;

  &__content {
    max-width: px2Rem(1280px);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {

  }

  &__right {
    display: flex;
    align-items: center;
    gap: px2Rem(50px);
  }

  &__account {
    background-color: $account-bg-color;
    border-radius: px2Rem(10px);
    padding: px2Rem(5px);

    img {
      @include quadIcon(px2Rem(25px), px2Rem(25px));
    }
  }

  .header-button {
    color: white;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__logo-icon {
    width: px2Rem(25px);
    height: auto;
  }
}