@import "../functions/math_functions";
@import "../functions/extenstion_functions";
@import "../variables";
@import "../functions/font";

$active-button-bg-color: rgba($green, .15);
$decoration-line-color: rgba(white, .05);
$hover-button-bg-color: rgba(white, .05);
$hover-active-button-bg-color: rgba($green, .125);

.navigation-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: px2Rem(12px);

  &__button {
    width: 100%;
    color: white;
    border-radius: px2Rem(10px);
    text-decoration: none;
    font-size: px2Rem(16px);
    margin-bottom: px2Rem(13px);
    padding: px2Rem(10px);
    transition: all 0.15s ease-in-out;
    backdrop-filter: blur(5px);

    &:last-child {
      margin-bottom: 0;
    }

    img {
      @include quadIcon(px2Rem(20px));
      margin-right: px2Rem(10px);
    }

    &--active {
      color: $green;
      background-color: $active-button-bg-color;
      font-weight: $semi-bold;

      &:hover {
        background-color: $hover-active-button-bg-color !important;
      }
    }

    &:hover {
      background-color: $hover-button-bg-color;
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: $decoration-line-color;
  }
}