@import "../functions/math_functions";
@import "../variables";

.popup-menu {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 99;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  transition: backdrop-filter 3s ease-in-out;
  padding: px2Rem(50px) 0;
}

.popup-menu__content {
  background-color: white;
  border-radius: $block-radius;
  box-shadow: $default-shadow;
  padding: px2Rem(30px);
  width: auto;
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.popup-menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: px2Rem(30px);
}

.popup-menu__title {
  font-size: px2Rem(32px);
  font-weight: 600;
  color: black;
  display: flex;
  align-items: center;
  margin-right: px2Rem(50px);
}

.popup-menu__icon {
  width: px2Rem(42px);
  height: px2Rem(42px);
  vertical-align: middle;
  margin-right: px2Rem(10px);
}

.popup-menu__close-icon {
  img {
    width: px2Rem(25px);
    height: px2Rem(25px);
    vertical-align: middle;
  }
}